/***** Bazar Page ********/
/*DO NOT USE: id - header CHECK IF THE ID ID BEING USED BY THE LAYOUT FILE;*/
/*cakephp-cakephp-0a6d85c*/
/*get rid of height 50px under #search-main, never put a height on that it covers otehr elements*/

* {

   font-family: Helvetica;
}

body{

    background-color: #E3E3E1;
}

a {


  text-decoration: none;
}

.username a {

  color: black;
}

#BazarSearch{

  font-family: "Cabin_Reg";
  position: absolute;
  outline: none;
  border: none;
  font-size: 20px;
  margin-top: 60px;
  width: 100%;
  height: 60px; 
}

/******** MAIN PAGE *****/
#page-main {

  z-index: -1;
  position: absolute;
  margin-top: 130px;
  width: 100%;
  height: 100%;

}

/****NODE FIELD CONTAINS NODES*/
#node-field{

  width: 1090px;
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.bazar-submits img{

  opacity: 1.0;
  filter:alpha(opacity=100);
}

.bazar-submits img:hover{

  opacity: .80;
  filter:alpha(opacity=80);
}

.bazar-submits img:active{

  opacity: 1.0;
  filter:alpha(opacity=100);
}
  
/*request stl button links to req. stl page*/
#request-stl{

  position: absolute;
  margin-left: 344px;
  margin-top: 5px;
  width: 200px;
  height: 100px;
}

#request-stl img{

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#propose-stl{

  position: absolute;
  margin-left: 545px;
  margin-top: 5px;
  width: 200px;
  height: 100px;
}

#propose-stl img{

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


#separator-line{

  position: absolute;
  margin-left: 544px;
  background-color: #393738;
  margin-top: 5px;
  width: 1px;
  height: 100%;
  min-height: 1000px
}

#Requests{

  margin-top: 5px;
  position: absolute;
  margin-top: 115px;
  width: 545px;
  min-height: 1000px;
}

.BazarRPost{


  margin-left: 50px;
  margin-top: 5px;
  width: 250px;
  height: 50px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.BazarRtitle a{  

  font-family: "Cabin_Reg";
  margin-left: 10px;
  margin-top: 0px;
  width: 150px;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
  color: #393738;
}

.BazarRlikes{  

  font-family: "Lobster_Reg_1.4";
  position: absolute;
  margin-left: 100px;
  margin-top: 5px;
  width: 50px;
  height: 25px;
  border-radius: 3px;
  overflow: hidden;
  color: #5C8A30;
}

.BazarRdislikes{  

  position: absolute;
  font-family: "Lobster_Reg_1.4";
  margin-left: 175px;
  margin-top: 5px;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
  color: #D0383A;
}

.BazarPlikes{  

  font-family: "Lobster_Reg_1.4";
  position: absolute;
  margin-left: 100px;
  margin-top: 5px;
  width: 50px;
  height: 25px;
  border-radius: 3px;
  overflow: hidden;
  color: #5C8A30;
}

.BazarPdislikes{  

  position: absolute;
  font-family: "Lobster_Reg_1.4";
  margin-left: 175px;
  margin-top: 5px;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
  color: #D0383A;
}

#Proposals{

  margin-top: 5px;
  position: absolute;
  margin-left: 515px;
  margin-top: 115px;
  width: 545px;
  min-height: 1000px;
}

.BazarPPost{

  margin-left: 275px;
  margin-top: 5px;
  width: 250px;
  height: 50px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.BazarPtitle a{

  font-family: "Cabin_Reg";
  margin-left: 10px;
  margin-top: 0px;
  width: 150px;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
  color: #393738;
}

button[name="submitlike"]{

  border-radius: 2px;
  display: inline;
  position: absolute;
  background-image: url('../img/LobsterPlus.png');
  border: none;
  margin-top: 5px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

button[name="submitdislike"]{

  border-radius: 2px;
  display: inline;
  position: absolute;
  background-image: url('../img/LobsterMinus.png');
  border: none;
  margin-top: 5px;
  margin-left: 35px;
  width: 20px;
  height: 20px;
}