@font-face {
    font-family: 'Pacifico_Reg';
    src: url('../files/pacifico-webfont.eot');
    src: url('../files/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/pacifico-webfont.woff') format('woff'),
         url('../files/pacifico-webfont.ttf') format('truetype'),
         url('../files/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lobster_Reg_1.4';
    src: url('../files/lobster_1.4-webfont.eot');
    src: url('../files/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/lobster_1.4-webfont.woff') format('woff'),
         url('../files/lobster_1.4-webfont.ttf') format('truetype'),
         url('../files/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin_Reg';
    src: url('../files/cabin-regular-webfont.eot');
    src: url('../files/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/cabin-regular-webfont.woff') format('woff'),
         url('../files/cabin-regular-webfont.ttf') format('truetype'),
         url('../files/cabin-regular-webfont.svg#cabin-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}