body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#mainScroll{

	float: left;
	width: 90%;
	height: 1000000000000px;
	background-color: red;
}

div#sideScroll{

	float: right;
	width: 10%;
	height: 100%;
	background-color: green;
}