<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>ThreeJS test</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	
		<script type="text/javascript" src="three.min.js"></script>
	</head>
	<body>
		<div id="container"></div>
		<!-- make sure webgl and three.js scripts come after the elements you
		want to tack graphics onto -->
		<script type="text/javascript" src="index.js"></script>
	</body>
</html>
